{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <div class="page-header">
                <h2>Log in to your account</h2>
            </div>
            <div>
                <form method="post" action="{% url 'user:login' %}" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                                
                    {% buttons %}
                         <button name="submit" class="btn btn-primary">log in</button>
                    {% endbuttons %}
                                
                        <input type="hidden" name="next" value="{% url 'blogapp:index'%}"/>
                </form>
            </div>
    </body>    
</html>