{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <div class="page-header">
               <h2>
                 <a href="{{post.get_absolute_url}}">修改{{post.title}}</a>
               </h2>
            </div>
            <div>
                <form action="{% url 'blogapp:edit_post' post.pk %}" method='POST' class="form">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                      
                    {% buttons %}
                        <button name="submit" class="btn btn_primary"> save changes</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </body>
</html>